html {
  font: 44px "Micro 5", system-ui;
  font-synthesis: none;
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 16px;
  color: white;
  user-select: none;
  line-height: 1;
}

/**********/
/*** UI ***/
/**********/

button {
  border: none;
  background-color: inherit;
  font: inherit;
  color: inherit;
  padding: 0 12px;
  cursor: pointer;
  outline: none;
}

button:focus {
  animation: blinker 0.6s step-start infinite;
}

.card {
  background-color: black;
  box-shadow: 8px 8px gray;
}

.stack {
  display: flex;
  flex-direction: column;
}

.splash {
  height: 60vh;
  display: flex;
  align-items: center;
  font-size: 48px;
}

.nocursor {
  cursor: none;
}

@keyframes blinker {
  50% {
    color: coral;
  }
}

/*****************/
/*** PLAYFIELD ***/
/*****************/

.gamearea {
  display: grid;
  padding: 2px;
}

.board,
.piece,
.menu {
  grid-area: 1/1;
}

.menu {
  align-self: center;
  justify-self: center;
  align-items: center;
  row-gap: 24px;
}

.menu-pause {
  outline: 4px solid black;
  border: 4px solid white;
  padding: 24px;
  background-color: black;
}

.controlsline {
  display: flex;
  justify-content: space-between;
  column-gap: 44px;
}

/*****************/
/*** DASHBOARD ***/
/*****************/

.dashboard {
  justify-content: space-between;
}

.cards {
  row-gap: 32px;
}

.score {
  padding: 0 12px;
}

.digits {
  margin-top: -16px;
}

.preview {
  padding: 0 12px 12px;
}

.fps {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding: 0 12px;
}
