html {
  font: 44px "Micro 5", system-ui;
  font-synthesis: none;
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin: 16px auto 0;
  color: white;
  user-select: none;
  --block-size: 40px;
}

/**********/
/*** UI ***/
/**********/

button {
  border: none;
  background-color: inherit;
  font: inherit;
  color: inherit;
  padding: 0 12px;
  cursor: pointer;

  &:focus {
    animation: blinker 0.6s step-start infinite;
    outline: none;
  }
}

.card {
  background-color: black;
  box-shadow: 8px 8px gray;
}

.stack {
  display: flex;
  flex-direction: column;
}

@keyframes blinker {
  50% {
    color: coral;
  }
}

/*****************/
/*** PLAYFIELD ***/
/*****************/

.startmenu,
.controls {
  width: calc(10 * var(--block-size));
  height: calc(20 * var(--block-size));
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.controlsline {
  display: flex;
  justify-content: space-between;
  column-gap: 44px;
}

/*****************/
/*** DASHBOARD ***/
/*****************/

.dashboard {
  row-gap: 32px;
}

.scorebox {
  width: auto;
  height: fit-content;
  padding: 0 12px;
}

.nextbox {
  padding: 0 12px 12px;
}

#score,
#level,
#lines {
  margin-top: -16px;
}
