@font-face {
  font-family: "Blocks";
  src: local("Blocks"), url("./fonts/Blocks6px-Regular.ttf");
}

html {
  font-family: "Blocks";
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  display: flex;
  justify-content: center;
}

.game {
  font-size: 24px;
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 16px;
  color: white;
  user-select: none;
  line-height: 1;

  @media (width < 620px) or (height < 864px) {
    transform-origin: top center;
    transform: scale(0.75);
  }

  @media (width < 470px) or (height < 660px) {
    transform-origin: top center;
    transform: scale(0.5);
  }
}

/**********/
/*** UI ***/
/**********/

.card {
  background-color: black;
  box-shadow: 8px 8px gray;
}

.stack {
  display: flex;
  flex-direction: column;
}

.splash {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.menu-option {
  border: none;
  background-color: inherit;
  font: inherit;
  color: inherit;
  padding: 0 12px;
  cursor: pointer;
  outline: none;
}

.menu-option.selected {
  animation: blinker 0.6s step-start infinite;
}

@keyframes blinker {
  50% {
    color: hsl(15, 70%, 60%);
  }
}

.icon-btn {
  box-sizing: border-box;
  width: 40px;
  height: 30px;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.vibrate {
  animation-name: vibrate;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.slam {
  animation-name: slam;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes vibrate {
  10% {
    transform: skewX(1deg);
  }
  30% {
    transform: skewX(-1deg);
  }
  50% {
    transform: skewX(1deg);
  }
  70% {
    transform: skewX(-1deg);
  }
  90% {
    transform: skewX(1deg);
  }
}

@keyframes slam {
  20% {
    transform: translateY(5px);
  }
}

.nocursor {
  cursor: none;
}

/****************/
/*** KEYBOARD ***/
/****************/

.keyboard {
  box-sizing: border-box;
  position: fixed;
  bottom: -240px;
  height: 240px;
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  padding: 16px 12px 0;
  transition: bottom 0.2s linear;
}

.keyboard.open {
  bottom: 0;
}

.open-keyboard-btn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 6px;
  margin: 0 auto;
}

.system-keys {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.control-keys {
  display: grid;
  grid-template-areas: "left right";
  gap: 16px;

  > .left {
    grid-area: left;
    justify-self: start;
  }

  > .right {
    grid-area: right;
    justify-self: end;
  }
}

.arrow-keys {
  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-areas:
    ". u ."
    "l . r"
    ". d .";
}

.up-arrow {
  grid-area: u;
}

.left-arrow {
  grid-area: l;
}

.right-arrow {
  grid-area: r;
}

.down-arrow {
  grid-area: d;
}

.action-keys {
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-areas:
    "z x"
    "d d";
}

.ccw-key {
  grid-area: z;
}

.cw-key {
  grid-area: x;
}

.drop-key {
  grid-area: d;
}

.touch-btn {
  background: hsl(240, 50%, 40%);
  border-radius: 6px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.touch-btn-front {
  display: block;
  padding: 3px 8px;
  border-radius: 6px;
  background: hsl(240, 50%, 60%);
  color: white;
  transform: translateY(-6px);
}

/* Actual or simulated active state */
:is(.touch-btn:active, .touch-btn.active) .touch-btn-front {
  transform: translateY(-2px);
}

.touch-btn-icon {
  vertical-align: middle;
}

.touch-btn.system {
  background: hsl(0, 0%, 60%);
}

.touch-btn-front.system {
  background: hsl(0, 0%, 85%);
  color: black;
}

.touch-btn-front.large {
  padding: 12px 14px;
}

/*****************/
/*** PLAYFIELD ***/
/*****************/

.gamearea {
  display: grid;
  padding: 2px;
}

.board {
  grid-area: 1/1;
  z-index: 0;
}

.piece {
  grid-area: 1/1;
  z-index: 1;
}

.menu {
  grid-area: 1/1;
  z-index: 2;
}

.menu {
  align-self: center;
  justify-self: center;
  align-items: center;
  row-gap: 64px;
}

.menu-pause {
  outline: 4px solid black;
  border: 4px solid white;
  padding: 36px 24px;
  background-color: black;
}

.controls-list {
  row-gap: 8px;
}

.controls-list-item {
  display: flex;
  justify-content: space-between;
  column-gap: 44px;
}

/*****************/
/*** DASHBOARD ***/
/*****************/

.dashboard {
  justify-content: space-between;
}

.cards {
  row-gap: 32px;
}

.score {
  padding: 12px 8px 12px 12px;
  row-gap: 8px;
}

.digits {
  margin-top: -4px;
  text-align: end;
}

.preview {
  padding: 12px;
}

.fps {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding: 12px 12px 8px;
}
